<!DOCTYPE html>
<html  data-framework="angular2">
<head>
  <title>Angular2 vs Sails Application</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <script src="/libs/jquery.js"></script>
  <script src="/libs/jquery.validate.js"></script>
  <script src="/libs/bootstrap/js/bootstrap.js"></script>
  <script src="/node_modules/angular2/bundles/angular2-polyfills.js"></script>
  <script src="/node_modules/systemjs/dist/system.src.js"></script>
  <script src="/node_modules/rxjs/bundles/Rx.js"></script>
  <script src="/node_modules/angular2/bundles/angular2.dev.js"></script>
  <script src="/node_modules/angular2/bundles/http.dev.js"></script>
</head>
<body>
<account-app></account-app>
 <!--<script src="/js/dependencies/sails.io.js"></script>-->
 <script>
   System.config({
     map: {
       'rxjs': 'node_modules/rxjs'
     },
     packages: {
       app: {
         format: 'register',
         defaultExtension: 'js'
       },
       'rxjs': {defaultExtension: 'js'}
     }
   });
   System.import('app/bootstrap');
 </script>
</body>
</html>
