<section class="accountapp">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Demo</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container-fluid">
    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-12">
          <div class="col-md-4" style="padding: 0">
            <button (click)="createAccount()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus"></i> Create account</button>
          </div>
          <search-box (update)="term = $event"></search-box>

        </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Telephone</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        </thead>
        <tr *ngFor="#acc of accounts | search: term; #i = index">
          <td>{{i}}</td>
          <td>{{acc.name}}</td>
          <td>{{acc.telephone}}</td>
          <td>{{acc.email}}</td>
          <td>
            <i data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-pencil cursor-pointer" (click)="edit(acc)"></i>
            <i class="glyphicon glyphicon-trash cursor-pointer" (click)="remove(acc, i)"></i>
          </td>
        </tr>

      </table>
    </div>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create account</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="form-account">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" name="name" [(ngModel)]="account.name" required class="form-control" id="name" placeholder="Name">
              </div>
            </div>
            <div class="form-group">
              <label for="telephone" class="col-sm-2 control-label">Telephone</label>
              <div class="col-sm-10">
                <input type="text" name="telephone" [(ngModel)]="account.telephone" required class="form-control" id="telephone" placeholder="Telephone">
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" name="email" [(ngModel)]="account.email" required class="form-control" id="email" placeholder="Email">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="cancel()" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</section>
